.selectionList div {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  overflow: visible;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: small;
}

.searchSections {
  background-color: white;
  position: absolute;
  left: 20%;
  width: 80%;
}

.titleForm {
  font-size: 1.8em;
  color: var(--main-letters-color);
  text-align: center;
  padding: 30px;
}

.searchIcon img {
  cursor: pointer;
}

.searchInput input {
  width: 15vw;
  height: 5vh;
}

.search_form {
  align-items: center;
}

.searchInputs {
  display: flex;
  justify-content: space-around;
}

.inputGroup {
  display: flex;
  justify-content: space-around;
  width: 20vw;
}

.filterContainer {
  width: 30vw;
}

.filter {
  display: flex;
  justify-content: space-around;
}

.filter label {
  margin-right: 10px;
}

.selectBox {
  display: flex;
  justify-content: space-around;
  width: 23vw;
  cursor: pointer;
  position: relative;
  z-index: 200;
  border: solid 1px var(--main-input-color);
  border-radius: 4px;
  align-items: center;
  background-color: red;
}

.selectContent img {
  display: flex;
  justify-content: flex-end;
}

.dropdown {
  width: 20vw;
}

.item {
  border: solid 1px var(--main-input-color);
}

.selectionList {
  width: 75vw;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Para 414px */

@media screen and (max-width: 414px) {
  .searchSections {
    background-color: white;
    height: auto;
    position: absolute;
    left: 0%;
    width: 100%;
    border-radius: 10px;
  }
}

@media screen and (width: 768px) {
  .searchSections {
    background-color: white;
    height: auto;
    position: absolute;
    left: 0%;
    width: 100%;
    border-radius: 10px;
  }

  .selectionList {
    width: 94vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

@media screen and (width: 1024px) {
  .searchSections {
    background-color: white;
    height: auto;
    position: absolute;
    left: 27%;
    width: 67%;
    border-radius: 10px;
  }

  .searchInputs {
    display: flex;
    justify-content: space-evenly;
  }
}
/*SURFACED DUO */

@media screen and (width: 540px) {
  .searchSections {
    background-color: white;
    height: auto;
    position: absolute;
    left: 0%;
    width: 100%;
    border-radius: 10px;
  }

  .selectionList {
    width: 94vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

@media screen and (width: 280px) {
  .searchSections {
    background-color: white;
    height: auto;
    position: absolute;
    left: 0%;
    width: 100%;
    border-radius: 10px;
  }
  .titleForm {
    font-size: 1em;
    color: var(--main-letters-color);
    text-align: center;
    padding: 30px;
  }

  .selectionList div {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    gap: 20px;
    overflow: visible;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: smaller;
  }
}

@media screen and (width: 1024px) and (height: 600px) {
  .searchSections {
    background-color: #ffffff;
    height: auto;
    position: absolute;
    left: 27%;
    width: 67%;
    border-radius: 10px;
  }

  .searchInputs {
    display: flex;
    justify-content: space-evenly;
  }
}
