.searchContainer {
  display: flex;
  justify-content: space-evenly;
}

.searchSections {
  background-color: rgb(255, 255, 255);
  height: 100%;
  width: 78vw;
  margin-left: 43vh;
}

.titleForm {
  font-size: 1.8em;
  color: var(--main-letters-color);
  text-align: center;
  padding: 30px;
}

.searchIcon img {
  cursor: pointer;
}

.searchInput input {
  width: 15vw;
  height: 5vh;
}

.search_form {
  align-items: center;
}

.searchInputs {
  display: flex;
  justify-content: space-around;
}

.inputGroup {
  display: flex;
  justify-content: space-around;
  width: 20vw;
}

.filterContainer {
  width: 30vw;
  background-color: rgb(255, 255, 255);
}

.filter {
  display: flex;
  justify-content: space-around;
}

.filter label {
  margin-right: 10px;
}

.selectBox {
  display: flex;
  justify-content: space-around;
  width: 23vw;
  cursor: pointer;
  position: relative;
  z-index: 200;
  border: solid 1px var(--main-input-color);
  border-radius: 4px;
  align-items: center;
  background-color: red;
}

.selectContent img {
  display: flex;
  justify-content: flex-end;
}

.dropdown {
  width: 20vw;
}

.item {
  border: solid 1px var(--main-input-color);
}

.selectionList {
  width: 75vw;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.searchError{
    color: var(--main-letters-color);
    margin: 50px 20px;
    font-size: 1em;
}

.selectionList div {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 20px;
  overflow: visible;
  margin-top: 20px;
  margin-bottom: 20px;
  @media screen and (width: 375px) {
    #dash {
      text-align: center;
      color: #939393;
      width: 100%;
      position: fixed;
      bottom: -80vh;
      float: none;
    }

    #hidden_d {
      display: flex;
    }

    .dashboard li {
      margin-top: -90px;
      margin-left: 20px;
      margin-right: 20px;
    }

    .dashboard ul {
      background-color: #f5f5f7;
      display: flex;
      justify-content: space-between;
    }

    .dashboard li {
      color: #939393;
    }

    #showdash {
      display: none;
    }
  }
}

@media screen and (max-width: 850px) {
  .searchSections {
    background-color: rgb(73, 30, 30);
    height: 100%;
    width: 100%;
    margin-left: 2px;
    margin-top: 10vh;
    position: fixed;
  }
}
