.profile {
  position: absolute;
  background-color: white;
  color: var(--main-letters-color);
  width: 75%;
  left: 23%;
  height: 125vh;
  border-radius: 10px;
}

.profile h1 {
  text-align: center;
  padding: 20px;
}

.profileInformation {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}

.profileInfo {
  margin-bottom: 20px;
}

.profileTitle {
  font-weight: 800;
}

.buttonProfile {
  background-color: var(--main-button-color);
  font-family: "Poppins";
  color: white;
  border: none;
  border-radius: 5px;
  width: 20%;
  padding: 10px 10px;
  text-align: center;
  font-size: 14px;
  margin: 1rem 5px;
  transition: all ease 250ms;
}

.buttonProfile:hover {
  background-color: #4970be;
}

.buttonProfileContainer {
  display: flex;
  justify-content: center;
}

.formProfile {
  display: flex;
  flex-direction: column;
}

.inputProfile {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.inputProfile input {
  outline: none;
  border-radius: 4px;
  padding: 5px;
  width: 18vw;
  border: solid 1px var(--main-input-color);
}

.inputProfile textarea {
  outline: none;
  border-radius: 4px;
  padding: 5px;
  width: 18vw;
  border: solid 1px var(--main-input-color);
}

.checkbox {
  outline: none;
  width: 10px;
  border-radius: 4px;
  border: solid 1px var(--main-input-color);
}

.togglePassword {
  display: inline-block;
}

.uncompletedInfo {
  border: 1px #e70000 solid;
  background-color: #ffa2a2;
  padding: 5px;
}

.uncompletedInfo p {
  display: inline-block;
  color: #e70000;
  padding: 5px;
}

.specialistForm {
  display: flex;
  justify-content: space-evenly;
}

.specialistInfo {
  display: flex;
  justify-content: space-evenly;
}

.checkboxWork label {
  display: block;
  width: 100%;
  cursor: pointer;
  margin-left: 5px;
}
/*======================================
 Para resoluciones de max-width:414

*/

@media screen and (max-width: 414px) {
  .profile {
    position: absolute;
    left: 0%;
    background-color: rgb(253, 253, 253);
    color: var(--main-letters-color);
    width: 101%;

    height: 100%;
  }
  .buttonProfile {
    width: 30%;
  }
}
/* Para resolucion de iphone 5 */
@media screen and (width: 320px) {
  .profile {
    position: absolute;
    left: 0%;
    background-color: rgb(253, 253, 253);
    color: var(--main-letters-color);
    width: 101%;

    height: 100%;
  }
}

/* Pare resolucion de  max-width 768px*/

@media screen and (max-width: 768px) and (min-width: 415px) {
  .profile {
    position: absolute;
    left: 0%;
    background-color: rgb(253, 253, 253);
    color: var(--main-letters-color);
    width: 100%;

    height: 100%;
  }
}

/* Para SURFACE DUO*/

@media screen and (max-width: 540px) and (min-width: 415px) {
  .profile {
    position: absolute;
    left: 0%;
    background-color: rgb(253, 253, 253);
    color: var(--main-letters-color);
    width: 100%;

    height: 100%;
  }
}
/* Para resolucion GALAXY FOLD*/
@media screen and (width: 280px) {
  .profile {
    position: absolute;
    left: 0%;
    background-color: rgb(253, 253, 253);
    color: var(--main-letters-color);
    width: 101%;
    font-size: small;
    height: 100%;
  }
  .buttonProfile {
    width: 40%;
  }
}
