/*INICIO DE SESION*/
.section {
  background-color: var(--main-bg-color);
  margin: 20px 0px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 45vw;
  height: 135vh;
  align-items: center;
  background-color: rgb(255, 255, 255);
  margin-top: 10vh;
  border-radius: 10px;
}

.container button {
  width: 20vw;
  height: 7.8vh;
  margin: 15px 0px;
  outline: none;
  cursor: pointer;
}

.section_alternatives {
  display: flex;
  justify-content: center;
}

.containerLoginbtn ul li {
  list-style: none;
}

.containerLoginbtn ul li button {
  width: 20vw;
  height: 6.7vh;
  border-radius: 5px;
  background-color: #f5f5f7;
  border: solid 1px #dbdbe1;
}

.btnDiv {
  display: flex;
  align-items: center;
  font-size: 0.87em;
}

.btnText {
  font-family: "poppins";
  color: #415b72;
  float: right;
}

.btnImage {
  float: left;
  margin: 0 10px;
}

.form_Div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}

.container h1 {
  text-align: center;
  font-size: 2.2em;
  color: var(--main-letters-color);
}

.container p {
  margin-top: 16px;
  font-size: 14px;
  text-align: center;
  color: var(--main-letters-color);
}

.inputGroup {
  margin: 20px 0px;
}

.inputGroup label {
  color: var(--main-letters-color);
  font-size: 14px;
}

.container input {
  outline: none;
  border-radius: 4px;
  padding: 5px;
  width: 18vw;
  height: 6vh;
  border: solid 1px var(--main-input-color);
}

.login {
  background-color: var(--main-button-color);
  color: white;
  outline: none;
  font-weight: bold;
  font-size: 1.1em;
  border-radius: 5px;
  margin-top: 10px;
  border: none;
}

.registration {
  text-align: center;
  align-items: center;
  color: var(--main-letters-color);
}

.pacient,
.specialist,
.password {
  text-align: center;
  align-items: center;
  color: #0163e0;
  cursor: pointer;
}

.password {
  padding-top: 20px;
}

.specialist:hover {
  text-decoration: underline;
}

.pacient:hover {
  text-decoration: underline;
}

.btnImage {
  display: flex;
  justify-content: flex-start;
  align-self: center;
}

@media screen and (max-width: 414px) {
  .container {
    width: 80vw;
    height: 80vh;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin-top: 10vh;
  }

  #hidden_signfire {
  }
  .btnText {
    display: none;
  }
  .containerLoginbtn ul li button {
    background: none;
    border: none;
  }

  .containerLoginbtn ul {
    display: flex;
  }
  .form_Div form {
    width: 100%;
  }

  .container input {
    outline: none;
    border-radius: 4px;
    padding: 5px;
    width: 60vw;
    height: 6vh;
    border: solid 1px var(--main-input-color);
  }
  .btnSubmit button {
    width: 50vw;
  }
}
/* PARA 360 PX */
@media screen and (width: 360px) {
  .container {
    width: 80vw;
    height: 90vh;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
  }

  #hidden_signfire {
  }
  .btnText {
    display: none;
  }
  .containerLoginbtn ul li button {
    background: none;
    border: none;
  }

  .containerLoginbtn ul {
    display: flex;
  }
  .form_Div form {
    width: 100%;
  }

  .container input {
    outline: none;
    border-radius: 4px;
    padding: 5px;
    width: 60vw;
    height: 6vh;
    border: solid 1px var(--main-input-color);
  }
  .btnSubmit button {
    width: 50vw;
  }
}
/* PARA IPAD */
@media screen and (width: 768px) {
  .container {
    width: 55vw;
    height: 60vh;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin-top: 15vh;
  }

  #hidden_signfire {
  }
  .btnText {
    display: none;
  }
  .containerLoginbtn ul li button {
    background: none;
    border: none;
  }
  .containerLoginbtn ul {
    background: none;
    border: none;
    margin-left: 100px;
  }

  .containerLoginbtn ul {
    display: flex;
  }
  .form_Div form {
    width: 100%;
  }

  .container input {
    outline: none;
    border-radius: 4px;
    padding: 5px;
    width: 50vw;
    height: 4vh;
    border: solid 1px var(--main-input-color);
  }
  .btnSubmit button {
    width: 30vw;
    height: 5vh;
  }
  #lowezone {
    font-size: x-large;
  }
}
/* PARA IPAD PRO */
@media screen and (width: 1024px) and (height: 1366px) {
  .container {
    width: 55vw;
    height: 60vh;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
  }

  .mainContainer {
    margin-top: 20vh;
  }

  #hidden_signfire {
  }
  .btnText {
    display: none;
  }
  .containerLoginbtn ul li button {
    background: none;
    border: none;
  }
  .containerLoginbtn ul {
    background: none;
    border: none;
    margin-left: 100px;
  }

  .containerLoginbtn ul {
    display: flex;
  }
  .form_Div form {
    width: 100%;
  }

  .container input {
    outline: none;
    border-radius: 4px;
    padding: 5px;
    width: 50vw;
    height: 4vh;
    border: solid 1px var(--main-input-color);
    font-size: x-large;
  }
  .btnSubmit button {
    width: 25vw;
    height: 6vh;
    font-size: x-large;
  }

  #lowerzone {
    font-size: x-large;
  }

  #titles {
    font-size: x-large;
  }
}

/* SURFACE */
@media screen and (width: 540px) {
  .container {
    width: 55vw;
    height: 75vh;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin-top: 10vh;
  }

  #hidden_signfire {
  }
  .btnText {
    display: none;
  }
  .containerLoginbtn ul li button {
    background: none;
    border: none;
  }
  .containerLoginbtn ul {
    background: none;
    border: none;
    margin-left: 50px;
  }

  .containerLoginbtn ul {
    display: flex;
  }
  .form_Div form {
    width: 100%;
  }

  .container input {
    outline: none;
    border-radius: 4px;
    padding: 5px;
    width: 50vw;
    height: 4vh;
    border: solid 1px var(--main-input-color);
    font-size: small;
  }
  .btnSubmit button {
    width: 25vw;
    height: 6vh;
    font-size: small;
  }

  #lowerzone {
    font-size: small;
  }

  #titles {
    font-size: small;
  }
}

/* Galaxy fold*/
@media screen and (width: 280px) {
  .container {
    width: 120vw;
    height: 100vh;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin-right: 30vh;
    position: fixed;
  }

  .mainContainer {
    position: fixed;
    margin-bottom: -100vh;
    margin-left: 29vh;
    background-color: black;
  }

  #hidden_signfire {
  }
  .btnText {
    display: none;
  }
  .containerLoginbtn ul li button {
    background: none;
    border: none;
    margin-right: 50px;
  }
  .containerLoginbtn ul {
    background: none;
    border: none;
    margin-left: 55px;
  }

  .containerLoginbtn ul {
    display: flex;
  }
  .form_Div form {
    width: 100%;
  }

  .container input {
    outline: none;
    border-radius: 4px;
    padding: 5px;
    width: 70vw;
    height: 5vh;
    border: solid 1px var(--main-input-color);
    font-size: medium;
  }
  .btnSubmit button {
    width: 50vw;
    height: 8vh;
    font-size: medium;
  }

  #lowerzone {
    font-size: medium;
  }

  #titles {
    font-size: medium;
  }
}

/* PARA nestuhub */
@media screen and (width: 1024px) and (height: 600px) {
  .container {
    width: 55vw;
    height: 100vh;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin-top: 20vh;
  }

  #hidden_signfire {
  }
  .btnText {
    display: none;
  }
  .containerLoginbtn ul li button {
    background: none;
    border: none;
  }
  .containerLoginbtn ul {
    background: none;
    border: none;
    margin-left: 100px;
  }

  .containerLoginbtn ul {
    display: flex;
  }
  .form_Div form {
    width: 100%;
  }

  .container input {
    outline: none;
    border-radius: 4px;
    padding: 5px;
    width: 50vw;
    height: 4vh;
    border: solid 1px var(--main-input-color);
    font-size: x-large;
  }
  .btnSubmit button {
    width: 25vw;
    height: 6vh;
    font-size: x-large;
  }

  #lowerzone {
    font-size: x-large;
  }

  #titles {
    font-size: x-large;
  }
}
@media screen and (width: 320px) {
  .container {
    width: 80vw;
    height: 90vh;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
  }

  #hidden_signfire {
  }
  .btnText {
    display: none;
  }
  .containerLoginbtn ul li button {
    background: none;
    border: none;
  }

  .containerLoginbtn ul {
    display: flex;
  }
  .form_Div form {
    width: 100%;
  }

  .container input {
    outline: none;
    border-radius: 4px;
    padding: 5px;
    width: 60vw;
    height: 6vh;
    border: solid 1px var(--main-input-color);
  }
  .btnSubmit button {
    width: 50vw;
  }
}
