/*INICIO DE SESION*/
.section {
  background-color: var(--main-bg-color);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 45vw;
  height: 135vh;
  padding: 30px 0px;
  margin: 20px 340px;
  background-color: white;
}

.container ul li {
  list-style: none;
  margin: 10px 165px;
}

.container ul li img {
  margin: 5px;
}

.container button {
  width: 20vw;
  height: 7.8vh;
  margin-bottom: 20px;
  cursor: pointer;
  align-items: center;
}

.container h1 {
  margin-top: 20px;
  margin-left: 175px;
  font-size: 2.2em;
  color: var(--main-letters-color);
  align-self: center;
  justify-content: center;
}

.container form,
h1 {
  margin: 10px 170px;
}

.inputGroup {
  margin: 20px 0px;
  margin-left: 22px;
}

.inputGroup label {
  color: var(--main-letters-color);
  font-size: 0.875em;
}

.container input {
  outline: none;
  border-radius: 4px;
  padding: 5px;
  width: 208px;
  height: 32px;
  border: solid 1px var(--main-input-color);
}

.login {
  background-color: var(--main-button-color);
  color: white;
  outline: none;
  font-weight: bold;
  font-size: 1.1em;
  border-radius: 5px;
  margin-top: 10px;
  border: none;
}

.registration {
  margin-left: 222px;
  color: var(--main-letters-color);
}

.pacient,
.specialist {
  color: #0163e0;
  cursor: pointer;
}

.pacient {
  margin-left: -10px;
  margin-top: -35px;
}

.specialist {
  margin-left: -17px;
  margin-top: -21px;
}

.specialist:hover {
  text-decoration: underline;
}

.pacient:hover {
  text-decoration: underline;
}

.btnimage {
  position: absolute;
  cursor: pointer;
  width: 5vw;
  height: 7.8vh;
  padding: 0px 10px;
  margin-bottom: 5px;
}

.letter {
  margin-left: 20%;
}
