@import "../../../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-calendars/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-dropdowns/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-lists/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-react-schedule/styles/material.css";

.descriptionPayment {
  color: var(--main-letters-color);
  padding-bottom: 10px;
}

.moveOnBtn {
  text-align: center;
}

.appointmentContainer {
  background-color: white;
  position: absolute;
  left: 21%;
}

.appointmentContainer h1 {
  padding-top: 20px;
  color: var(--main-letters-color);
  text-align: center;
}

.calendar {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.calendar p {
  color: var(--main-letters-color);
  font-size: 1em;
  padding: 20px;
}

.calendarComponent {
  border: var(--main-letters-color) 1px solid;
  margin: 0 20px;
}

.payment h1 {
  padding-top: 0px;
  color: var(--main-letters-color);
  text-align: center;
}

.price {
  background-color: #f3f3f3;
  border: 1px #939393 solid;
}

.price h1 {
  color: #777777;
  margin-top: 0px;
}

.price p {
  color: #777777;
  padding: 5px;
  text-align: center;
}

.payment {
  display: flex;
  padding: 20px;
}

.paymentColumn {
  flex: 50%;
}

.titlePayment {
  font-weight: 800;
  color: var(--main-letters-color);
}

.appointmentContainer .warningText {
  color: var(--main-letters-color);
  text-align: center;
}

.buttonSchedule {
  background-color: var(--main-button-color);
  font-family: "Poppins";
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 10px;
  text-align: center;
  font-size: 14px;
  margin: 1rem 5px;
  transition: all ease 250ms;
}

.buttonSchedule:hover {
  background-color: #4970be;
}

.appointmentLoading {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
/* Para 414px*/

@media screen and (max-width: 414px) {
  .appointmentContainer {
    background-color: white;
    position: absolute;
    left: 0%;
    top: -1%;
  }

  .buttonSchedule {
    background-color: var(--main-button-color);
    font-family: "Poppins";
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    text-align: center;
    font-size: 14px;
    margin: 1rem 5px;
    transition: all ease 250ms;
  }
}

/*Para Ipad*/
@media screen and (width: 768px) {
  .appointmentContainer {
    background-color: white;
    position: absolute;
    left: 0%;
    top: 2%;
  }

  .buttonSchedule {
    background-color: var(--main-button-color);
    font-family: "Poppins";
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    text-align: center;
    font-size: 14px;
    margin: 1rem 5px;
    transition: all ease 250ms;
  }
}
/* IPAD PRO*/
@media screen and (width: 1024px) {
  .appointmentContainer {
    background-color: white;
    position: absolute;
    left: 21%;
    top: 4%;
  }

  .buttonSchedule {
    background-color: var(--main-button-color);
    font-family: "Poppins";
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    text-align: center;
    font-size: 14px;
    margin: 1rem 5px;
    transition: all ease 250ms;
  }
}

/* SURFACE DUO */

@media screen and (width: 540px) {
  .appointmentContainer {
    background-color: white;
    position: absolute;
    left: 0%;
    top: -3%;
  }

  .buttonSchedule {
    background-color: var(--main-button-color);
    font-family: "Poppins";
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    text-align: center;
    font-size: 14px;
    margin: 1rem 5px;
    transition: all ease 250ms;
  }
}
/*NEST HUB */

@media screen and (width: 1024px) and (height: 600px) {
  .appointmentContainer {
    background-color: white;
    position: absolute;
    left: 24%;
    height: 130vh;
  }

  .buttonSchedule {
    background-color: var(--main-button-color);
    font-family: "Poppins";
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    text-align: center;
    font-size: 14px;
    margin: 1rem 5px;
    transition: all ease 250ms;
  }
}
/**/
/**/
/**/
/**/
