.slider {
  position: relative;
  display: flex;
  height: 50vh;
  width: fit-content;
  max-width: 90vw;
  padding: 10px 0;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
}
.slider .slick {
  padding: 10px 0;
  position: relative;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.right-arrow {
  top: 50%;
  cursor: pointer;
  padding: 0.5em;
}

.left-arrow {
  top: 50%;
  cursor: pointer;
  padding: 0.5em;
}
