.card {
  background-color: var(--main-input-color);
  width: 500px;
  margin: 20px;
  border-radius: 5px;
}

.card span {
  font-weight: bold;
}


.info {
  padding: 20px;
  
}

.buttons {
  text-align: center;
  padding-bottom: 20px;
}

