.specialistCard {
  background-color: #f3f3f3;
  width: 300px;
  margin: 20px;
  border-radius: 8px;
  border: solid 1px #939393;
}

.specialistCard span {
  font-weight: bold;
  color: black;
}

.specialistInfo {
  padding: 20px;
  color: black;
}

.specialistButtons {
  text-align: center;
  padding-bottom: 20px;
}

.detailsbtn {
  background-color: white;
  font-family: "poppins";
  border-radius: 5px;
  border: none;
  color: var(--main-letters-color);
  padding: 0.8em 2.2em;
  cursor: pointer;
  margin: 5px;
}
