.navbarContainer {
  display: flex;
  align-items: center;
  height: 10vh;
  width: 100%;
  padding: 0 40px;
  margin-left: auto;
  list-style: none;
  background: rgb(87, 118, 234);
  background: linear-gradient(
    rgba(67, 88, 207, 1) 0%,
    90deg,
    rgba(87, 118, 234, 1) 100%
  );
  color: #fff;
  font-size: 0.5rem;
  position: fixed;
}

.navbarContainer li {
  padding: 0 0.6rem;
}

.navbarContainer li.rightSide {
  display: flex;
  margin-left: auto;
}

.navbarContainer li .link,
.navbarContainer li.rightSide .link {
  color: inherit;
  text-decoration: none;
}

.navbarContainer li.rightSide .container {
  padding: 0 0.6rem;
}

.navbarContainer li.rightSide .container .logoutBtn {
  background: #e70000;
  color: #fff;
  border: none;
  padding: 10px 1rem;
  border-radius: 50px;
  font-size: 1rem;
  cursor: pointer;
}

.login {
  padding: 0.7rem;
  cursor: pointer;
  background-color: #fce58e;
  color: #287bc6;
  border: none;
  border-radius: 50px;
}

.register {
  padding: 0.7rem;
  cursor: pointer;
  background-color: transparent;
  color: white;
  border-width: 1px;
  border-style: solid;
  border-color: white;
  border-radius: 50px;
}

img {
  padding-top: 5px;
}

@media (max-width: 700px) {
  .login {
    padding: 0.3rem;
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: none;
  }

  .register {
    padding: 0.3rem;
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: none;
  }
  .navbarContainer {
    position: fixed;
  }
}

.resboton {
  display: none;
  margin-right: 30px;
  font-size: 25px;
}
#hidden_button {
  display: none;
}

@media screen and (max-width: 952px) {
  .logo {
    font-size: 30px;
    padding-left: 35px;
  }

  .container {
    font-size: 16px;
  }
}
@media screen and (max-width: 414px) {
  .resboton {
    display: inline-flex;
    margin-left: 30%;
  }
  .navbarContainer li {
    display: flex;
  }
  .navbarContainer li .link img {
    padding-left: 1px;

    padding-right: 20px;
  }
  #buttonbig {
    display: none;
  }

  #hidden_button {
    background-color: #f5f5f7;
    margin-left: 1%;
    display: flex;
    color: red;
    flex-direction: column;
    align-items: center;
  }
  #hidden {
    position: fixed;
    right: -200px;
    top: 80px;
    background-color: #f5f5f7;
    height: 50%;
    width: 100%;

    flex-direction: column;

    transition: all 0.4s;
  }
  .register {
    color: #939393;
  }
  .login {
    color: #939393;
  }
  .navbarContainer li.rightSide {
    position: fixed;
    align-items: left;
    border-radius: 10px;
    width: 100%;
    height: 50%;
    margin-left: 10%;
    background: #5f7a92;
    flex-direction: column;
    justify-content: space-around;
    top: 80px;
    right: -60vh;
    transition: all 0.4s;
  }
  .container {
    border-bottom: solid #5788ea;
  }
  .navbarContainer {
    position: fixed;
  }
}
@media screen and (width: 1024px) {
  .resboton {
    display: inline-flex;
    margin-left: 30%;
  }
  .navbarContainer li {
    display: flex;
  }
  .navbarContainer li .link img {
    padding-left: 1px;

    padding-right: 20px;
  }
  #buttonbig {
    display: none;
  }

  #hidden_button {
    background-color: #f5f5f7;
    font-size: xx-large;

    display: flex;
    color: red;
    flex-direction: column;
    align-items: center;
  }
  #hidden {
    position: fixed;
    right: -700px;
    top: 135px;
    background-color: #f5f5f7;
    height: 50%;
    width: 100%;

    flex-direction: column;

    transition: all 0.4s;
  }
  .register {
    font-size: x-large;
    color: #939393;
  }
  .login {
    font-size: x-large;
    color: #939393;
    background-color: #f5f5f7;
  }

  #ulstyles {
    justify-content: space-around;
  }
  #menuid {
    background-color: rgb(87, 118, 234);

    margin-left: 240px;
  }
  #imgstyles {
    height: 6vh;
  }
  .navbarContainer li.rightSide {
    position: fixed;
    align-items: left;
    border-radius: 10px;
    width: 100%;
    height: 50%;
    margin-left: 10%;
    background: #5f7a92;
    flex-direction: column;
    justify-content: space-around;
    top: 135px;
    right: -80vh;
    transition: all 0.4s;
  }
  .container {
    border-bottom: solid #5788ea;
  }
}

@media screen and (width: 768px) {
  .resboton {
    display: inline-flex;
    margin-left: 30%;
  }
  .navbarContainer li {
    display: flex;
  }
  .navbarContainer li .link img {
    padding-left: 1px;

    padding-right: 20px;
  }
  #buttonbig {
    display: none;
  }

  #hidden_button {
    background-color: #f5f5f7;

    display: flex;
    color: red;
    flex-direction: column;
    align-items: center;
  }
  #hidden {
    position: fixed;
    right: -500px;
    top: 135px;
    background-color: #f5f5f7;
    height: 50%;
    width: 100%;

    flex-direction: column;

    transition: all 0.4s;
  }
  .register {
    font-size: x-large;
    color: #939393;
  }
  .login {
    font-size: x-large;
    color: #939393;
    background-color: #f5f5f7;
  }

  #ulstyles {
    justify-content: space-around;
  }
  #menuid {
    background-color: rgb(87, 118, 234);

    margin-left: 120px;
  }
  #imgstyles {
    height: 7vh;
  }
  .navbarContainer li.rightSide {
    position: fixed;
    align-items: left;
    border-radius: 10px;
    width: 100%;
    height: 50%;
    margin-left: 10%;
    background: #5f7a92;
    flex-direction: column;
    justify-content: space-around;
    top: 135px;
    right: -80vh;
    transition: all 0.4s;
  }
  .container {
    border-bottom: solid #5788ea;
  }
}
@media screen and (width: 540px) {
  .resboton {
    display: inline-flex;
    margin-left: 30%;
  }
  .navbarContainer li {
    display: flex;
  }
  .navbarContainer li .link img {
    padding-left: 1px;

    padding-right: 20px;
  }
  #buttonbig {
    display: none;
  }

  #hidden_button {
    background-color: #f5f5f7;

    display: flex;

    flex-direction: column;
    align-items: center;
  }
  #hidden {
    position: fixed;
    right: -300px;
    top: 135px;
    background-color: #f5f5f7;
    height: 50%;
    width: 100%;

    flex-direction: column;

    transition: all 0.4s;
  }
  .register {
    font-size: large;
    color: #939393;
  }
  .login {
    font-size: large;
    color: #939393;
    background-color: #f5f5f7;
  }

  #ulstyles {
    justify-content: space-around;
  }
  #menuid {
    background-color: rgb(87, 118, 234);

    margin-left: 70px;
  }
  #imgstyles {
    height: 7vh;
  }
  .navbarContainer li.rightSide {
    position: fixed;
    align-items: left;
    border-radius: 10px;
    width: 100%;
    height: 50%;
    margin-left: 10%;
    background: #5f7a92;
    flex-direction: column;
    justify-content: space-around;
    top: 135px;
    right: -80vh;
    transition: all 0.4s;
  }
  .container {
    border-bottom: solid #5788ea;
  }
}

@media screen and (width: 280px) and (height: 653px) {
  .resboton {
    display: inline-flex;
    margin-left: 30%;
  }
  .navbarContainer li {
    display: flex;
  }
  .navbarContainer li .link img {
    padding-left: 1px;

    padding-right: 20px;
  }
  #buttonbig {
    display: none;
  }

  #hidden_button {
    background-color: #f5f5f7;

    display: flex;
    color: red;
    flex-direction: column;
    align-items: center;
  }
  #hidden {
    position: fixed;
    right: -50px;
    top: 64px;
    background-color: #f5f5f7;
    height: 50%;
    width: 100%;

    flex-direction: column;

    transition: all 0.4s;
  }
  .register {
    font-size: medium;
    color: #939393;
  }
  .login {
    font-size: medium;
    color: #939393;
    background-color: #f5f5f7;
  }

  #ulstyles {
    justify-content: space-between;
  }
  #menuid {
    background-color: rgb(87, 118, 234);

    margin-left: 30px;
  }
  .resboton {
    margin-top: -5px;
  }
  #imgstyles {
    height: 4vh;
    margin-top: 3.5vh;
  }
  .navbarContainer li.rightSide {
    position: fixed;
    align-items: left;
    border-radius: 10px;
    width: 100%;
    height: 50%;
    margin-left: 10%;
    background: #5f7a92;
    flex-direction: column;
    justify-content: space-around;
    top: 64px;
    right: -80vh;
    transition: all 0.4s;
  }
  .container {
    border-bottom: solid #5788ea;
  }

  .navbarContainer {
    margin-right: 10px;
    margin-top: -2vh;
  }
}

@media screen and (width: 1024px) and (height: 600px) {
  .resboton {
    display: inline-flex;
    margin-left: 30%;
  }
  .navbarContainer li {
    display: flex;
  }
  .navbarContainer li .link img {
    padding-left: 1px;

    padding-right: 20px;
  }
  #buttonbig {
    display: none;
  }

  #hidden_button {
    background-color: #f5f5f7;

    display: flex;
    color: red;
    flex-direction: column;
    align-items: center;
  }
  #hidden {
    position: fixed;
    right: -700px;
    top: 135px;
    background-color: #f5f5f7;
    height: 50%;
    width: 100%;

    flex-direction: column;

    transition: all 0.4s;
  }
  .register {
    font-size: x-large;
    color: #939393;
  }
  .login {
    font-size: x-large;
    color: #939393;
    background-color: #f5f5f7;
  }

  #ulstyles {
    justify-content: space-around;
  }
  #menuid {
    background-color: rgb(87, 118, 234);

    margin-left: 240px;
  }
  #imgstyles {
    height: 6vh;
  }
  .navbarContainer li.rightSide {
    position: fixed;
    align-items: left;
    border-radius: 10px;
    width: 100%;
    height: 50%;
    margin-left: 10%;
    background: #5f7a92;
    flex-direction: column;
    justify-content: space-around;
    top: 135px;
    right: -800vh;
    transition: all 0.4s;
  }
  .container {
    border-bottom: solid #5788ea;
  }
}
@media screen and (max-width: 320px) {
  .resboton {
    display: inline-flex;
    margin-left: 30%;
  }
  .navbarContainer li {
    display: flex;
  }
  .navbarContainer li .link img {
    padding-left: 1px;

    padding-right: 2px;
  }
  #buttonbig {
    display: none;
  }

  #hidden_button {
    background-color: #f5f5f7;
    margin-left: 1%;
    display: flex;
    color: red;
    flex-direction: column;
    align-items: center;
  }
  #hidden {
    position: fixed;
    right: -200px;
    top: 80px;
    background-color: #f5f5f7;
    height: 50%;
    width: 100%;

    flex-direction: column;

    transition: all 0.4s;
  }
  .register {
    color: #939393;
  }
  .login {
    color: #939393;
  }
  .navbarContainer li.rightSide {
    position: fixed;
    align-items: left;
    border-radius: 10px;
    width: 100%;
    height: 50%;
    margin-left: 10%;
    background: #5f7a92;
    flex-direction: column;
    justify-content: space-around;
    top: 80px;
    right: -60vh;
    transition: all 0.4s;
  }
  .container {
    border-bottom: solid #5788ea;
  }
  .navbarContainer {
    position: fixed;
  }
}
