.navbarContainer {
  display: flex;
  align-items: center;
  height: 10vh;
  width: 100%;
  padding: 0 40px;
  margin-left: auto;
  list-style: none;
  background: rgb(87, 118, 234);
  background: linear-gradient(
    rgba(67, 88, 207, 1) 0%,
    90deg,
    rgba(87, 118, 234, 1) 100%
  );
  color: #fff;
  font-size: 0.5rem;
}

.navbarContainer li {
  padding: 0 0.6rem;
}

.navbarContainer li.rightSide {
  display: flex;
  margin-left: auto;
}

.navbarContainer li .link,
.navbarContainer li.rightSide .link {
  color: inherit;
  text-decoration: none;
}

.navbarContainer li.rightSide .container {
  padding: 0 0.6rem;
}

.navbarContainer li.rightSide .container .logoutBtn {
  background: #e70000;
  color: #fff;
  border: none;
  padding: 10px 1rem;
  border-radius: 50px;
  font-size: 1rem;
  cursor: pointer;
}

.login {
  padding: 0.7rem;
  cursor: pointer;
  background-color: #fce58e;
  color: #287bc6;
  border: none;
  border-radius: 50px;
}

.register {
  padding: 0.7rem;
  cursor: pointer;
  background-color: transparent;
  color: white;
  border-width: 1px;
  border-style: solid;
  border-color: white;
  border-radius: 50px;
}

img {
  padding-top: 5px;
}

@media (max-width: 700px) {
  .login {
    padding: 0.3rem;
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: none;
  }

  .register {
    padding: 0.3rem;
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: none;
  }
}

.navbarContainer li.rightSide #hidden {
  display: none;
}

@media screen and (max-width: 952px) {
  .logo {
    font-size: 30px;
    padding-left: 35px;
  }

  .container {
    font-size: 16px;
  }
}
@media screen and (max-width: 858px) {
  .navbarContainer {
    background-color: #f5f5f7;
    width: 100%;
    height: 7%;
    position: fixed;
    bottom: 0vh;
  }
  .navbarContainer li {
    margin-left: -40%;
    align-items: center;
  }

  .navbarContainer #logoshow {
    display: none;
  }

  .navbarContainer li.rightSide #hidden {
    display: flex;

    margin-right: 30px;
  }
  .navbarContainer li.rightSide #show {
    display: none;
  }
  .navbarContainer {
    padding-left: 20px;
    padding-right: 20px;
  }

  .navbarContainer li.rightSide .container .logoutBtn {
    background-color: #363653;
    color: #fff;
    border: none;
    padding: 10px 1rem;
    border-radius: 50px;
    font-size: 1rem;
    cursor: pointer;
    padding-bottom: 120px;
  }
}
