.dashboard {
  background: #898990;
  text-align: center;
  color: #939393;
  width: 320px;
  height: 90vh;
  float: left;
}

.dashboard ul {
  list-style: none;
}

.dashboard ul:nth-child(1) {
  padding-top: 80px;
}

.dashboard li {
  padding: 30px 0;
}

.nodisplay {
  display: none;
}

#arrow {
  display: none;
}

@media screen and (max-width: 858px) {
  .dashboard {
    background-color: #f5f5f7;
    margin-left: -100vw;
    transition: all 0.4s;
  }
  #dash {
    background-color: #f5f5f7;
    margin-left: -0vw;
    transition: all 0.4s;
  }

  #arrow {
    display: flex;
    margin-left: 122%;
  }
}
