.dashboard {
  background: #898990;
  text-align: center;
  color: #939393;
  width: 320px;
  height: 90vh;
  float: left;
}

.dashboard ul {
  list-style: none;
}

.dashboard ul:nth-child(1) {
  padding-top: 80px;
}

.dashboard li {
  padding: 30px 0;
}

.nodisplay {
  display: none;
}

@media screen and (width-max: 850px) {
}
