* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--main-bg-color);
}

.mainContainer {
  margin: 20px 0px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register {
  width: 45vw;
  height: 110vh;
  align-items: center;
  background-color: white;
}

.container {
  width: 45vw;
  height: 130vh;
  align-items: center;
  background-color: rgb(255, 255, 255);
  margin-top: 10vh;
  border-radius: 10px;
}

.register h1 {
  color: var(--main-letters-color);
  text-align: center;

  font-size: 2.2em;
  margin: 25px 0px;
}

.formDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputGroup {
  margin: 20px 0px;
}

.inputGroup label {
  color: var(--main-letters-color);
  font-size: 0.875em;
}

.inputGroup input {
  width: 30vw;
  height: 6.5vh;
  outline: none;
  padding: 5px;
  border-radius: 4px;
  border: solid 1px var(--main-input-color);
}

.inputGroup input::content {
  color: var(--main-letters-color);
}

.checkboxGroup label {
  color: var(--main-letters-color);
  font-size: 0.875em;
}

.checkboxGroup {
  margin-bottom: 20px;
}

.container button {
  background-color: var(--main-button-color);
  color: white;
  width: 17vw;
  height: 8vh;
  outline: none;
  font-weight: bold;
  font-size: 1.1em;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
}

.btn_div {
  text-align: center;
  align-items: center;
}

.alternatives_div {
  text-align: center;
  align-items: center;
}

.containerAlternatives {
  display: flex;
  justify-content: space-evenly;
}

.alternative {
  cursor: pointer;
}

a {
  color: #0163e0;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 414px) {
  .container {
    background-color: var(--main-bg-color);
    width: 70%;
    height: 122vh;
    border-radius: 10px;
    margin-top: 5vh;
  }

  .register {
    background-color: rgb(255, 255, 255);
    height: 90%;
    width: 100%;
    border-radius: 10px;
  }

  .register .formDiv .inputGroup {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .register .formDiv .checkboxGroup {
    margin-left: 10px;
  }

  .inputGroup input {
    height: 50%;
    width: 50%;
  }

  .btn_div button {
    width: 50%;
  }
}
@media screen and (max-width: 360px) {
  .container {
    background-color: var(--main-bg-color);
    width: 70%;
    height: 130vh;
    border-radius: 10px;
    margin-top: 6vh;
  }

  .register {
    background-color: rgb(255, 255, 255);
    height: 105%;
    width: 100%;
    border-radius: 10px;
  }

  .register .formDiv .inputGroup {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .register .formDiv .checkboxGroup {
    margin-left: 10px;
  }

  .inputGroup input {
    height: 50%;
    width: 50%;
  }

  .btn_div button {
    width: 50%;
  }
}

@media screen and (height: 667px) {
  .container {
    background-color: var(--main-bg-color);
    width: 70%;
    height: 150vh;
    border-radius: 10px;
  }

  .register {
    background-color: rgb(255, 255, 255);
    height: 90%;
    width: 100%;
    border-radius: 10px;
  }

  .register .formDiv .inputGroup {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .register .formDiv .checkboxGroup {
    margin-left: 10px;
  }

  .inputGroup input {
    height: 50%;
    width: 50%;
  }

  .btn_div button {
    width: 50%;
  }
}

/*IPAD */
@media screen and (width: 768px) {
  .container {
    background-color: var(--main-bg-color);
    width: 70%;
    height: 100vh;
    border-radius: 10px;
    margin-top: 10vh;
  }

  .register {
    background-color: rgb(255, 255, 255);
    height: 90%;
    width: 100%;
    border-radius: 10px;
  }

  .register .formDiv .inputGroup {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .register .formDiv .checkboxGroup {
    margin-left: 10px;
  }

  .inputGroup input {
    height: 50%;
    width: 50%;
  }

  .btn_div button {
    width: 50%;
    height: 4vh;
  }

  #labelpaciente {
    font-size: large;
  }
}
/*IPAD  pro*/
@media screen and (width: 1024px) and (height: 1366px) {
  .container {
    background-color: var(--main-bg-color);
    width: 70%;
    height: 90vh;
    border-radius: 10px;
    margin-top: 10vh;
  }

  .register {
    background-color: rgb(255, 255, 255);
    height: 90%;
    width: 100%;
    border-radius: 10px;
  }

  .register .formDiv .inputGroup {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .register .formDiv .checkboxGroup {
    margin-left: 10px;
  }

  .inputGroup input {
    height: 5vh;
    width: 60%;
  }

  .btn_div button {
    width: 50%;
    height: 5vh;
    font-size: x-large;
  }

  #labelpaciente {
    font-size: x-large;
  }
}
/*SURFACE*/
@media screen and (width: 540px) {
  .container {
    background-color: var(--main-bg-color);
    width: 70%;
    height: 160vh;
    border-radius: 10px;
    margin-top: 10vh;
  }

  .register {
    background-color: rgb(255, 255, 255);
    height: 90%;
    width: 100%;
    border-radius: 10px;
  }

  .register .formDiv .inputGroup {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .register .formDiv .checkboxGroup {
    margin-left: 10px;
  }

  .inputGroup input {
    height: 5vh;
    width: 60%;
  }

  .btn_div button {
    width: 50%;
    height: 5vh;
    font-size: x-large;
  }

  #labelpaciente {
    font-size: x-large;
  }
}
/*Fold*/
@media screen and (width: 280px) {
  .container {
    background-color: var(--main-bg-color);
    width: 70%;
    height: 150vh;
    border-radius: 10px;
    margin-top: 3vh;
  }

  .register {
    background-color: rgb(255, 255, 255);
    height: 90%;
    width: 100%;
    border-radius: 10px;
  }

  .register .formDiv .inputGroup {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .register .formDiv .checkboxGroup {
    margin-left: 10px;
  }

  .inputGroup input {
    height: 5vh;
    width: 60%;
  }

  .btn_div button {
    width: 50%;
    height: 5vh;
    font-size: medium;
  }

  #labelpaciente {
    font-size: medium;
  }
}

/* Nesthub*/

@media screen and (width: 1024px) and (height: 600px) {
  .container {
    background-color: var(--main-bg-color);
    width: 70%;
    height: 160vh;
    border-radius: 10px;
    margin-top: 10vh;
  }

  .register {
    background-color: rgb(255, 255, 255);
    height: 90%;
    width: 100%;
    border-radius: 10px;
  }

  .register .formDiv .inputGroup {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .register .formDiv .checkboxGroup {
    margin-left: 10px;
  }

  .inputGroup input {
    height: 5vh;
    width: 60%;
  }

  .btn_div button {
    width: 50%;
    height: 5vh;
    font-size: x-large;
  }

  #labelpaciente {
    font-size: x-large;
  }
}

@media screen and (max-width: 320px) {
  .container {
    background-color: var(--main-bg-color);
    width: 70%;
    height: 145vh;
    border-radius: 10px;
    margin-top: 6vh;
  }

  .register {
    background-color: rgb(255, 255, 255);
    height: 105%;
    width: 100%;
    border-radius: 10px;
  }

  .register .formDiv .inputGroup {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .register .formDiv .checkboxGroup {
    margin-left: 10px;
  }

  .inputGroup input {
    height: 50%;
    width: 50%;
  }

  .btn_div button {
    width: 50%;
  }
}
