@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --main-bg-color: #455CD1;
  --main-letters-color: #415B72;
  --main-input-color: #5788EA;
  --main-button-color:#5788EA; 
}

body {
  font-family: 'Poppins';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
