* {
  margin: 0;
  padding: 0;
}
.mainContainer {
  background-color: var(--main-bg-color);
  margin: 20px 0px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register {
  width: 45vw;
  height: 105vh;
  align-items: center;
  background-color: white;
}

.container {
  width: 45vw;
  height: 120vh;
  align-items: center;
  background-color: white;
}

.register h1 {
  color: var(--main-letters-color);
  text-align: center;

  font-size: 2.2em;
  margin-bottom: 25px;
}

.form_div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputGroup {
  margin: 20px 0px;
}

.inputGroup label {
  color: var(--main-letters-color);
  font-size: 0.875em;
}

.inputGroup input {
  width: 30vw;
  height: 6.5vh;
  outline: none;
  padding: 5px;
  border-radius: 4px;
  border: solid 1px var(--main-input-color);
}

.inputGroup input::content {
  color: var(--main-letters-color);
}

.checkboxGroup label {
  color: var(--main-letters-color);
  font-size: 0.875em;
}

.checkboxGroup {
  margin-bottom: 10px;
}

.btnDiv {
  text-align: center;
  align-items: center;
}

.container button {
  background-color: var(--main-button-color);
  color: white;
  width: 17vw;
  height: 8vh;
  outline: none;
  font-weight: bold;
  font-size: 1.1em;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
@media screen and (width: 280px) {
  .container {
    height: -10px;
    background-color: #1b2b3f;
    margin-top: 100px;
  }
  .register {
    background-color: black;
  }
}
