@import "../../../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-calendars/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-dropdowns/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-lists/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import "../../../node_modules/@syncfusion/ej2-react-schedule/styles/material.css";

.appointmentsContainer {
  background-color: white;
}

.appointmentsContainer h1 {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  color: var(--main-letters-color);
  text-align: left;
}

.calendar {
  height: 100%;
  width: 100%;
}

.calendarComp {
  border: var(--main-letters-color) 1px solid;
  margin: 0 20px;
  border-radius: 10px;
}

.data-table {
  height: 100%;
  width: auto;
  border: var(--main-letters-color) 1px solid;
  border-radius: 10px;
  margin: 20px 20px;
}

.tableComponent {
}

.expandable-container {
  padding: 5px 10px;
  background-color: #f2f6f9;
}

.expandable-container table,
td {
}
