.appointmentsTableContainer {
  background-color: white;
  position: absolute;
  left: 20%;
  width: 80%;
  height: 90vh;
}

.appointmentsTableContainer h1 {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  color: var(--main-letters-color);
  text-align: left;
}

.data-table {
  height: 100%;
  max-width: 900px;
  border: var(--main-letters-color) 1px solid;
  border-radius: 10px;
  margin: 20px 20px;
}

/* PARA 414 px */

@media screen and (max-width: 414px) {
  .appointmentsTableContainer {
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 0%;
    top: 4%;
    height: 74%;
    border-radius: 10px;
    width: 100%;
  }
}

/*IPAD */

@media screen and (width: 768px) {
  .appointmentsTableContainer {
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 2%;
    top: 3%;
    width: 96%;
    height: 52%;
    border-radius: 10px;
  }
}
/* IPAD PRO*/

@media screen and (width: 1024px) {
  .appointmentsTableContainer {
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 9%;
    top: 9%;
    width: 158%;
    height: 50%;
    border-radius: 10px;
  }
  .data-table {
    position: absolute;
    top: 21%;
    height: 50%;
  }
}
/* SURFACE DUO */

@media screen and (width: 540px) {
  .appointmentsTableContainer {
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 3%;
    top: 4%;
    width: 96%;
    height: 60%;
    border-radius: 10px;
  }
  .data-table {
    position: absolute;
    top: 21%;
    width: 95%;
    height: 50%;
  }
}

@media screen and (width: 280px) {
  .appointmentsTableContainer {
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 3%;
    top: 4%;
    width: 94%;
    height: 60%;
    border-radius: 10px;
  }
  .data-table {
    position: absolute;
    top: 15%;
    width: 85%;
    height: 54%;
  }
}

/*PARA NESTHUB*/

@media screen and (width: 1024px) and (height: 600px) {
  .appointmentsTableContainer {
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 21%;
    top: 13%;
    width: 366%;
    height: 73%;
    border-radius: 10px;
  }
  .data-table {
    position: absolute;
    top: 21%;
    height: 50%;
    left: 2%;
  }
}
